.sidenav {
    position: fixed;
    left: 0;
    background-color: blue;
    width: 10%;
    height: 20%;
    top:40%;
    border-radius: 0px 20px 20px 0px;
    display: flex;
	justify-content: center;
	align-items: center;
}